<body>
<form method="POST" action="/posts">
  <p>Name: <input type="text" id="name" name="post[name]"></p>
  <p>Content: <input type="text" id="content" name="post[content]"></p>
  <p><input type="submit" id="submit"></p>
</form>
</body>
